<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= post.user.email %></strong> <small><%= post.created_at %></small>
        <br />
        <%= post.body %>
      </p>
    </div>
  </div>
</article>