<article class="media">
  <figure class="media-left">
    <p class="image is-48x48">
      <img src="https://bulma.io/assets/images/placeholders/96x96.png" />
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.user.email %></strong>
        <br />
        <%= comment.body %>
        <br />
        <small><%= comment.created_at %></small>
      </p>
    </div>
  </div>
</article>